:root {
    --bg_color1: rgb(3, 97, 45, 1);
    --bg_color2: rgb(3, 97, 45, 0.6);
    --bg_color3: rgb(3, 97, 45, 0.3); 
    --t_color2: white;
}

* {
    box-sizing: border-box;
  }
  

.header {
    background-color: var(--bg_color1); 
    padding: 40px;
    color:var(--t_color2);
    margin: 0;
    font-size: 3em;
    font-family: 'Brush Script MT', cursive; 
    text-align: left;

}

  
.nav  {
    display: flex;
    background-color: var(--bg_color1);
    margin: 100%;
    /* not sure about margin */


}

nav a {
    color: var(--t_color2);
    background-color: var(--bg_color2);
    padding: 10px 50px;  
    text-align: right;
    text-decoration: none;
    /*padding is set to 14px 20px and no display inline */
    

}    
   
a:hover {
    background-color: var(--bg_color3);
    color: white
  }

  main {
      display: flex;
      flex-wrap: wrap;
  }

  aside {
      flex: 1;
      background-color: var(--bg_color3);
      padding: 80px;
      text-align: center;
      color: var(--t_color2)
  }

  footer {
    padding: 20px;
    text-align: center; 
    background-color: var(--bg_color3);
    color: white
  }

  .work {
    flex: 4;  
    background-color: var(--bg_color2);
    color: var(--t_color2);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card header {
    padding: 20px;
  }
   
  .card p {
    text-align: center;
  }

  
  .card img {
    width: 100%;
  }
  

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
