:root {
    --bg_color1: rgb(3, 97, 45, 1);
    --bg_color2: rgb(3, 97, 45, 0.6);
    --bg_color3: rgb(3, 97, 45, 0.3); 
    --t_color2: white;
}


.header {
    background-color: var(--bg_color1); 
    height: 100px;
    color:var(--t_color2);
    margin: 0;
    font-size: 2em;

}

  
.nav {
    display: flex;
    background-color: var(--bg_color1);
    margin: 100%;
    


}

nav a {
    color: var(--t_color2);
    background-color: var(--bg_color2);
    padding: 10px 50px;
    display: inline;
    float: right;
    text-decoration: none;
    

}    
   
a:hover {
    background-color: var(--bg_color3);
    color: white
  }