:root {
    --bg_color1: rgb(0, 255, 115);
    --bg_color2: rgb(200, 255, 0); 
    --t_color1: rgb(9, 55, 99);
    --t_color2: white;
}

*{
    box-sizing: border-box;
}

header {
    background-color: var(--bg_color1); 
    height: 100px;
    color:var(--t_color2);
    margin: 0;
}

  
.nav {
    display: flex;
    background-color: var(--bg_color1);
    margin: 100%;
    


}

nav a {
    color: var(--t_color2);
    background-color: var(--bg_color2);
    padding: 10px 50px;
    display: inline;
    float: right;
    text-decoration: none;
    
    

    
}    
   
